@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Yazılım Teknolojileri Akademisi Kütüphane Online</strong></h1>
    <br />
    <p><img style="width:100%;"src="/img/24manguel-superJumbo.jpg"</p>
</div>
