@{
    ViewData["Title"] = "İletişim Bilgileri";
}



<div class="text-center">
    <br />
    <br />
    <h1>@ViewData["Title"]</h1>
    <h2>Ihlamur Sokak Menekşe Apt. No:5</h2>
    <h2>Seydişehir/Konya</h2>
    <h2>E-Posta adresimiz:</h2>
    <a href="mailto:yta.iletisim@gmail.com">Eposta Gönder</a>
</div>
